.flexProducts{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 10px;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.border{
  border: 1px solid black;
  padding: 4px;
  border-radius: 5px;
}
.flex{
  display: flex;
  gap: 8px;
}